<div id="tbl_geopoint_group">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>地理点位集合名</th>
            <th>创建时间</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody>
        {% for _geo_group in geo_pt_group %}
            <tr>
            <td class="col-md-2"><a href="{{ url_view_group_detail }}?gid={{ _geo_group.id }}">{{ _geo_group.name }}</a></td>
            <td class="col-md-2">{{ _geo_group.create_tm }}</td>
            <td class="col-md-8">{{ _geo_group.desc }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>