{% extends "/layout/_mbase.html" %}
{% block title %}文献NLP{% endblock %}
{% block ext_header %}
    <script type="text/javascript" src="/static/js/tools/archgis_tool.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/3.13/esri/css/esri.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.13/dijit/themes/claro/claro.css">
{% endblock %}
{% block cur_nav_func %}文献NLP{% endblock %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>文献分析
                <small>基于《二十四史》</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img width="500" height="500" src="/static/img/word2vec_demo.png" alt="词向量">
                    <div class="caption">
                        <h3>词向量</h3>
                        <p>针对文本，建立200维的词向量，供词汇级别的查询。</p>
                        <p><a href="{{ url_for('articlenlp.Word2vecIndexAction') }}" class="btn btn-primary" role="button">进入</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img width="500" height="500" src="/static/img/knowledge_nodes.png" alt="知识图谱">
                    <div class="caption">
                        <h3>知识图谱</h3>
                        <p>针对文本，逐句进行知识挖掘，建立关系图。</p>
                        <p><a href="{{ url_for('articlenlp.KnowledgegraphIndexAction') }}" class="btn btn-primary" role="button">进入</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}