<div class="col-md-11" id="tbl_property_options_list">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>名称</th>
            <th>编号</th>
            <th>权重</th>
        </tr>
        </thead>
        <tbody>
        {% for _option in options %}
            <tr>
            <td>{{ _option['name'] }}</td>
            <td>{{ _option['label'] }}</td>
            <td>{{ _option['weight'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>